@{
    ViewData["Title"] = "Accounts";

    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetAppNetUsers");
    var lockUrl = Url.RouteUrl("LockoutAspNetUser");
    var detailsUrl = Url.RouteUrl("DetailsAspNetUser");
    var editUrl = Url.RouteUrl("EditAspNetUser");

    var editProfileUrl = Url.RouteUrl("EditAspNetUserProfile");

    var editCompanyGrantsUrl = Url.RouteUrl("EditAspNetUserCompanyGrants");
}

@section RightSidebar {
    <div id="@(tableId)_detail"></div>
}

<div>
    <div id="toolbar" class="ui secondary menu">
        <a asp-route="AddAspNetUser" class="ui button" data-request="ajax" rel="dialog" data-title="Create user"><i class="fa fa-plus mr-1"></i> Create</a>
        @*<div class="right menu">
            <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
        </div>*@
    </div>

    <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        window.DocumentController = new DocumentController({
            'table': '#@tableId',
            'controller': {
                'list': '@listUrl',
            },
            'columns': [
                {
                    'title': 'Is locked', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => {
                        return `<div class='ui fitted slider checkbox'><input type='checkbox' name='Id[]' value='${data}' ${row.isLocked ? 'checked' : ''} ><label></label></div>`;
                    }
                },
                { 'title': 'User name', 'className': 'collapsing', 'data': 'userName', 'orderable': true },
                { 'title': 'Phone number', 'data': 'phoneNumber' },
                { 'title': 'Email', 'data': 'email' },
                { 'title': 'Roles', 'data': 'roles', 'render': (data, type, row) => $.fn.renderDatatableCollection(data, type, row) },
                {
                    'title': 'Action', 'data': 'profileId', 'className': 'collapsing', 'render': (data, type, row) => {
                        return `<a href='@(editProfileUrl)?id=${data}' class='ui icon animated blue button' data-request='ajax' rel='dialog' data-title="Edit profile"><div class="hidden content">Card</div><div class="visible content"><i class="id card icon"></i></div></a>`;
                    }
                },
                {
                    'title': 'Access', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => {
                        return `<a href='@(editCompanyGrantsUrl)?id=${data}' class='ui icon animated blue button' data-request='ajax' rel='dialog' data-title="Company grants" style='padding-right: 1em !important; padding-left: 2.5em;'><div class="hidden content">Companies</div><div class="visible content"><i class="users icon"></i></div></a>`;
                    }
                }
            ],
            'onRowClick': (e, data) => {
                $.get('@detailsUrl', { 'id': data.id }).done(result => {
                    $('#@(tableId)_detail').html(result);
                });
            },
            'onDblRowClick': (e, data) => {
                $.get('@editUrl', { 'id': data.id }).done(result => {
                    $(result).dialog({ 'title': 'Edit user' });
                });
            },
            'onRowChange': (e, data) => {
                $.get('@lockUrl', { 'id': data.id, 'locked': $(e.currentTarget).is(':checked') }).done(result => {
                    //$(e.currentTarget).parent('div.checkbox').checkbox(result ? 'check' : 'uncheck');
                });
            }
        });
    });

    ajaxSubmitComplete = function (e, jqXHR, status) {
        if (status === 'success') {
            window.DocumentController.reload(false);
            window.dialog.modal('hide');
        }
    };

    ajaxClick = function (e, jqXHR, status) {
        if (status === 'success') {
            var target = $(e.target).attr('data-target');
            $(target).remove();
        }
    };
    </script>
}