@{
    ViewData["Title"] = "Accounts";

    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetAppNetUsers");
    var deleteUrl = Url.RouteUrl("DeleteAspNetUser");
    var detailsUrl = Url.RouteUrl("DetailsAspNetUser");
    var editUrl = Url.RouteUrl("EditAspNetUser");
}

@section RightSidebar {
    <div id="@(tableId)_detail"></div>
}

<div>
    <div id="toolbar" class="ui secondary menu">
        <a asp-route="AddAspNetUser" class="ui button" data-request="ajax" rel="dialog"><i class="fa fa-plus mr-1"></i> Create</a>
        @*<div class="right menu">
                <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
            </div>*@
    </div>

    <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        window.DocumentController = new DocumentController({
            'table': '#@tableId',
            'controller': {
                'list': '@listUrl',
              // 'delete': '@deleteUrl'
            },
            'columns': [
                { 'title': '', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => $.fn.renderDatatableAction(data, type, row) },
                { 'title': 'User name', 'className': 'collapsing', 'data': 'userName' },
                { 'title': 'Phone number', 'data': 'phoneNumber' },
                { 'title': 'Email', 'data': 'email' },
                { 'title': 'Roles', 'data': 'roles', 'render': (data, type, row) => $.fn.renderDatatableCollection(data, type, row) }
            ],
            'onRowClick': (e, data) => {
                $.get('@detailsUrl', { 'id': data.id }).done(result => {
                    $('#@(tableId)_detail').html(result);
                });
            },
            'onDblRowClick': (e, data) => {
                 $.get('@editUrl', { 'id': data.id }).done(result => {
                    $(result).dialog();
                });
            }
        });
    });

    ajaxSubmitComplete = function (e, jqXHR, status) {
        if (status === 'success') {
            window.DocumentController.reload(false);
            window.dialog.modal('hide');
        }
    };

    ajaxClick = function (e, jqXHR, status) {
        if (status === 'success') {
            var target = $(e.target).attr('data-target');
            $(target).remove();
        }
    };
    </script>
}