@model Web.Models.AccountViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="column">
    <h2 class="ui orange image header">
        @*<img src="assets/images/logo.png" class="image" />*@
        <div class="content">
            Log-in to your account
        </div>
    </h2>

    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui large form">
        <div class="ui stacked segment">
            <p>
                Sign in to your account to access all our products. <a asp-controller="Faq" asp-action="Index">Learn More.</a> <br />
                Works in latest Chrome, Safari, and Firefox
            </p>
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input asp-for="Email" placeholder="Email" class="form-control" required autofocus />
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input asp-for="Password" placeholder="Password" class="form-control" required />
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input asp-for="RememberMe" class="hidden" />
                    <label asp-for="RememberMe"></label>
                </div>
            </div>
            <button class="ui fluid large orange submit button" type="submit">Lets Go</button>
        </div>

        <div class="ui error message">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All"></div>
        </div>
    </form>

    <div class="ui message">
        By clicking Sign In with Email, you agree to our Terms and have read and acknowledge our US Privacy Statement. <br />
        <strong>Margo Assistant</strong> don't know you? <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign Up!</a>
    </div>
</div>
