@{
    ViewData["Title"] = "Accounts";
    ViewData["Subtitle"] = "";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div id="toolbar" role="toolbar">
                <a asp-controller="Vaccount" asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus mr-1"></i> Create</a>
            </div>
            <table id="datatable" data-toggle="table" data-url="/api/vaccount"
                   data-total-field="totalItems"
                   data-data-field="items">
                <thead>
                    <tr>
                        <th data-field="userName" data-sortable="true">UserName</th>
                        <th data-field="companyName" data-sortable="true" data-sort-name="companyId">Company</th>
                        <th data-field="vendorName" data-sortable="true" data-sort-name="vendorId">Vendor</th>
                        <th data-field="updatedDate" data-sortable="true" data-formatter="$.fn.bootstrapTable.formatDate">Modified</th>
                        <th data-formatter="actionFormatter" class="text-nowrap text-right table-active">Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function actionFormatter(value, row) {
            return `<a href='/vaccount/edit/${row.id}' class='btn btn-outline-secondary mr-1' >Edit</a>`;
        }
    </script>
}