@model Web.ViewModels.CategoryViewModel

@{
    var formId = Guid.NewGuid();
}

<form id="@formId" class="ui form" asp-action="CreateCategory" method="post">
    <fieldset>
        <div class="two fields">
            <div class="field required">
                <label asp-for="Name"></label>
                <input asp-for="Name" data-value-type="string" required />
            </div>
            <div class="field required">
                <label asp-for="ParentId"></label>
                <select asp-for="ParentId" asp-items="@ViewBag.Categories" class="ui search dropdown" data-value-type="string:nullable">
                    <option value="" selected>No parent</option>
                </select>
            </div>
        </div>

        <div class="ui right floated mini icon button" tabindex="0" onclick="javascript: $.fn.addField('#@(formId)_container');">
            <i class="plus icon"></i>
        </div>

        <h4 class="ui dividing header">Fields</h4>
        <div id="@(formId)_container" class="ui form"></div>
    </fieldset>
</form>
