@model Web.ViewModels.CategoryViewModel

@{
    var formId = Guid.NewGuid();
}

<form id="@formId" class="ui form" asp-action="CreateCategory" method="post">
    <fieldset>
        <div class="two fields">
            <div class="field required">
                <label asp-for="Name"></label>
                <input asp-for="Name" required />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="field required">
                <label asp-for="ParentId"></label>
                <select asp-for="ParentId" asp-items="@ViewBag.Categories" data-value-type="number">
                    <option>No parent</option>
                </select>
            </div>
        </div>
        <div>
            <div class="ui right floated vertical animated mini button" tabindex="0" onclick="javascript: $.fn.addField('#fieldContainer');">
                <div class="hidden content">Add</div>
                <div class="visible content">
                    <i class="plus icon"></i>
                </div>
            </div>

            <h4 class="ui dividing header">Fields</h4>
            <div id="fieldContainer" class="ui form"></div>
        </div>
    </fieldset>
</form>
