@model Web.ViewModels.CategoryViewModel

@{
    var formId = Guid.NewGuid();
}

<form id="@formId" class="ui form" asp-action="UpdateCategory" asp-route-id="@Model.Id" method="put" >
    <fieldset>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="two fields">
            <div class="field required">
                <label asp-for="Name"></label>
                <input asp-for="Name" required />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="field required">
                <label asp-for="ParentId"></label>
                <select asp-for="ParentId" asp-items="@ViewBag.Categories" data-value-type="number">
                    <option>No parent</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>
