@{
    ViewData["Title"] = "Sections";

    var treeId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetCategories");
    var deleteUrl = Url.RouteUrl("DeleteCategories");
    var detailsUrl = Url.RouteUrl("DetailsCategory");
    var editUrl = Url.RouteUrl("EditCategory");
    var displayUrl = Url.Action("Details");
}

@section RightSidebar {
    <div id="viewContainer">
    </div>

}

<div>
    <div id="toolbar" class="ui secondary menu">
        <a asp-route="AddCategory" class="ui button" data-request="ajax" rel="dialog"><i class="fa fa-plus mr-1"></i> Create</a>
        <div class="right menu">
            <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
        </div>
    </div>

    <div id="@(treeId)" data-toolbar="#toolbar" class="ui orange segment"></div>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        window.TreeViewController = new TreeViewController({
            'target': '#@treeId',
            'controller': {
                'list': '@listUrl',
                'delete': '@deleteUrl'
            },

            'onRowClick': (e, data) => {
                $.get('@detailsUrl', { 'id': data.id }).done(result => {
                    $('#viewContainer').html(result);
                });
            },
            'onDblRowClick': (e, data) => {
                $.get('@editUrl', { 'id': data.id }).done(result => {
                    $(result).dialog();
                });
            }
        });
    });

    ajaxSubmitComplete = function(e, jqXHR, status) {
        if (status === 'success') {
            window.TreeViewController.reload();
            window.dialog.modal('hide');
        }
    };

    ajaxClick = function (e, jqXHR, status) {
        if (status === 'success') {
            var target = $(e.target).attr('data-target');
            $(target).remove();
        }
    };
    </script>
}