@model Web.ViewModels.UccountViewModel
@{
    var guid = Guid.NewGuid();

    var companies = (List<SelectListItem>)ViewData["Companies"];
    var vendors = (List<SelectListItem>)ViewData["Vendors"];
    var templates = (List<SelectListItem>)ViewData["Templates"];
}

<form id="@guid" class="ui form" asp-action="CreateUccount" rel="createUccountComplete">
    <fieldset>
        <h4 class="ui dividing header">Section Field</h4>
        <input type="hidden" asp-for="Id" />
        <div class="two fields">
            <div class="field required">
                <label asp-for="CompanyId"></label>
                <select asp-for="CompanyId" asp-items="@companies"></select>
            </div>
            <div class="field required">
                <label asp-for="VendorId"></label>
                <select asp-for="VendorId" asp-items="@vendors"></select>
            </div>
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
            </div>
        </div>
    </fieldset>
</form>