@{
    ViewData["Title"] = "Accounts";
    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetUccounts");
    var deleteUrl = Url.RouteUrl("DeleteUccounts");
    var editUrl = Url.Action("Edit");
    var displayUrl = Url.Action("Details");
}

@section RightSidebar {
    <div></div>
}
<div>
    <div id="toolbar" class="ui secondary menu">
        <div class="ui floating dropdown labeled icon button">
            <i class="plus icon"></i>
            <span class="text">Create</span>
            <div class="menu">
                <div class="header">
                    Account Types
                </div>
                <div id="account-types-menu" class="scrolling menu">
                    <div class="item" data-value="0">
                        Bussines
                    </div>
                    <div class="item" data-value="1">
                        Person
                    </div>
                </div>
            </div>
        </div>
        <div class="right menu">
            <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
        </div>
    </div>

    <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
</div>

@section Scripts {
    <script type="text/javascript">
        function createUccountComplete(jqXHR, status) {
            if (status === 'success') {
                var data = jqXHR.responseJson;
                $('.modal').modal('hide');
                window.location = `@(editUrl)/${data.id}`;
                //window.SectionFieldsTable.draw('true');
            }
            alert(status)
        }

        // Initilize dropdown (this is need to be interactive)
        const dropdown = $('.ui.dropdown').dropdown();
        const dropdownMenu = $('#account-types-menu');
        dropdownMenu.on('click', '.item', function() {
            const value = $(this).data("value");
            // api logic...
        });

        $(document).ready(function () {
            window.UccountController = new DocumentController({
            'table': '#@tableId',
            'controller': {
                'list': '@listUrl',
                'delete': '@deleteUrl'
            },
            'columns': [
                { 'title': '', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => $.fn.renderDatatableAction(data, type, row) },
                //{ 'title': 'No ', 'data': 'no', 'className': 'collapsing', 'orderable': true },
                { 'title': 'Name', 'data': 'sectionName' },
                //{ 'title': 'Modified', 'className': 'collapsing', 'data': 'updatedDate', 'render': (data, type, row) => $.fn.formatDate(data, type, row) }
            ],
            'onRowClick': (e, data) => {
                var options = {
                    'url': '@displayUrl' + `/${data.id}`,
                    'complete': (jqXHR, status) => {
                        if (status === 'success') {
                            $('#displayContainer').empty().html(jqXHR.responseText);
                        }
                    }
                }
                $.ajax(options);
            },
            'onDblRowClick': (e, data) => {
                location.href = '@editUrl' + `/${data.id}`;
            }
        });
        });
    </script>
}