@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button onclick="javascript:send()">Send</button>
</div>

<script type="text/javascript">
    function send() {
        return $.ajax({ url: '/api/home/start'});
    }
</script>
