@model InvoiceViewModel
@{
    var formId = Guid.NewGuid();

    var accounts = (IEnumerable<SelectListItem>)ViewData["Accounts"];
}

<form id="@formId" class="ui form" asp-action="CreateInvoice" method="post">
    <fieldset>
        <div class="two fields">
            <div class="six wide field required">
                <label asp-for="No"></label>
                <input asp-for="No" data-value-type="string" required>
            </div>

            <div class="ten wide field required">
                <label asp-for="AccountId"></label>
                <select id="account-select" class="ui fluid dropdown" asp-for="AccountId" asp-items="@accounts" required>
                    <option value="" selected disabled hidden>Choose here</option>
                </select>
            </div>
        </div>

        <div class="four fields">
            <div class="field required">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" data-value-type="number" required>
            </div>
            <div class="field required">
                <label asp-for="TaxRate"></label>
                <input asp-for="TaxRate" data-value-type="number" required>
            </div>
            <div class="field required">
                <label asp-for="Date"></label>
                <input asp-for="Date" type="date" required>
            </div>
            <div class="field required">
                <label asp-for="DueDate"></label>
                <input asp-for="DueDate" type="date" required>
            </div>
        </div>

        <div class="ui right floated vertical dropdown mini icon button" tabindex="0">
            <i class="plus icon"></i>
            <div class="menu">
                <div class="header">Services Types</div>
                <div id="service-dropdown" class="scrolling menu"></div>
            </div>
        </div>

        <h4 class="ui dividing header">Services</h4>
        <div id="@(formId)_container" class="ui form"></div>
    </fieldset>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#account-select').on('change', function () {
            $.fn.fillInvoiceServiceNames('#service-dropdown', $(this).val(), '#@(formId)_container');
        });

        $('#service-dropdown').on('click', '.item', function () {
            const value = $(this)[0].textContent;
            $.fn.addInvoiceServices('#@(formId)_container', value);
        });
    });
</script>
