@model Web.ViewModels.InvoiceViewModel
@{
    ViewData["Title"] = "Create Invoice";
    ViewData["SubTitle"] = "Please provide all required details to create invoice";
}

<form method="POST" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-body">
            <div class="form-row mb-3">
                <div class="col-4">
                    <label asp-for="CompanyId"></label>
                    <select id="companies" asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control selectpicker"
                            required
                            data-live-search="true">
                        <option>Chose a company</option>
                    </select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="SupplierId"></label>
                    <select id="customers" asp-for="SupplierId" asp-items="@ViewBag.Suppliers" class="form-control selectpicker"
                            required
                            data-live-search="true">
                        <option>Chose a customer</option>
                    </select>
                    <span asp-validation-for="SupplierId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-4">
                    <label asp-for="No"></label>
                    <input asp-for="No" type="text" class="form-control" required>
                    <span asp-validation-for="No" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Date"></label>
                    <div class="input-group date" data-provide="datepicker">
                        <input asp-for="Date" type="text" class="form-control" readonly required>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <label asp-for="DueDate"></label>
                    <div class="input-group date" data-provide="datepicker">
                        <input asp-for="DueDate" type="text" class="form-control" readonly required>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer" role="toolbar" aria-label="Toolbar with button groups">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="index" class="btn btn-link">Cancel</a>
        </div>
    </div>
</form>

