@model Web.ViewModels.InvoiceViewModel
@{
    ViewData["Title"] = "Edit Invoice";
    ViewData["SubTitle"] = "Please provide all required details to edit invoice";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Invoices</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.No</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header card-header-primary">
        <div class="card-title">
            <h4 class="m-0">Invoice #@(Model.No)</h4>
        </div>
    </div>

    <div class="card-body">
        <form id="submitForm" method="POST" asp-action="Edit">
            <div class="form-row mb-3">
                <div class="col-4">
                    <label asp-for="No"></label>
                    <input asp-for="No" class="form-control" required />
                    <span asp-validation-for="No" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="VendorId"></label>
                    <select asp-for="VendorId" asp-items="@ViewBag.Vendors" class="form-control selectpicker" data-style="btn btn-link"
                            required
                            data-live-search="true">
                        <option>Chose an account</option>
                    </select>
                    <span asp-validation-for="VendorId" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="CompanyId"></label>
                    <select asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control selectpicker" data-style="btn btn-link"
                            required
                            data-live-search="true">
                        <option>Chose an account</option>
                    </select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-3">
                    <label asp-for="Amount"></label>
                    <input asp-for="Amount" type="number" class="form-control" required />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Date"></label>
                    <input asp-for="Date" type="date" class="form-control" required />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="DueDate"></label>
                    <input asp-for="DueDate" type="date" class="form-control" required />
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <form method="POST" asp-action="Delete" class="m-0">
            <input name="Id" value="@Model.Id" type="hidden" />
            <button type="submit" class="btn btn-danger" onclick="if (!confirm('Are you sure want to delete this?')) { return false; }"><i class="material-icons">delete_outline</i> Remove</button>
        </form>
        <div>
            <button type="submit" class="btn btn-primary mr-1" form="submitForm">Save</button>
            <a asp-action="index" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>