@model Web.ViewModels.InvoiceFilterViewModel
@{
    ViewData["Title"] = "Invoices";
}

<div class="card">
    <div class="card-body">
        <div id="toolbar" class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group" aria-label="Invoice active button group">
                <a asp-controller="Invoice" asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus mr-1"></i> Create</a>
                <a asp-route="ApiSendNotification" class="btn btn-outline-success"><i class="fa fa-plus mr-1"></i> Send Notification</a>

            </div>
        </div>
        <table id="datatable" data-toggle="table" data-url="/api/invoice"
               data-total-field="totalItems"
               data-data-field="items">
            <thead>
                <tr>
                    <th data-checkbox="true"></th>
                    <th data-field="no" data-sortable="true">Invoice</th>
                    <th data-field="companyName">Company</th>
                    <th data-field="vendorName">Vendor</th>
                    <th data-field="date" data-formatter="$.fn.bootstrapTable.formatDate">Date</th>
                    <th data-field="dueDate" data-formatter="$.fn.bootstrapTable.formatDate">Due Date</th>
                    <th data-formatter="actionFormatter" class="text-nowrap text-right table-active">Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function actionFormatter(value, row) {
            return `<a href='/invoice/edit/${row.id}' class='btn btn-outline-secondary mr-1' >Edit</a>`;
        }
    </script>
}