@{
    ViewData["Title"] = "Invoices";

    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetInvoices");
    var deleteUrl = Url.RouteUrl("DeleteInvoices");
    var detailsUrl = Url.RouteUrl("DetailsInvoice");
    var editUrl = Url.RouteUrl("EditInvoice");
    var displayUrl = Url.Action("Details");
}

@section RightSidebar {
    <div id="@(tableId)_detail"></div>
}

@*For filtering feature*@
<!--<form id="filterForm">
    <fieldset>
        <div class="form-group row mb-3">
            <div class="col">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control selectpicker" data-style="btn btn-link">
                    <option>Select Company</option>
                </select>
            </div>
            <div class="col">
                <label asp-for="VendorId"></label>
                <select asp-for="VendorId" asp-items="@ViewBag.Vendors" class="form-control selectpicker" data-style="btn btn-link">
                    <option>Select Vendor</option>
                </select>
            </div>
            <div class="col">
                <label asp-for="Unpaid"></label>
                <div class="togglebutton">
                    <label>
                        <input type="checkbox" @@(Model.Unpaid ? "checked" : "") name="Unpaid:boolean" id="Unpaid" data-val="true" data-value-type="boolean" />
                        <span class="toggle"></span> Unpaid Status
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</form>-->

<div>
    <div id="toolbar" class="ui secondary menu">
        <a asp-route="AddInvoice" class="ui button" data-request="ajax" rel="dialog"><i class="fa fa-plus mr-1"></i> Create</a>
        <div class="right menu">
            <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
        </div>
    </div>

    <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        window.DocumentController = new DocumentController({
            'table': '#@tableId',
            'controller': {
                'list': '@listUrl',
                'delete': '@deleteUrl'
            },
            'columns': [
                { 'title': '', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => $.fn.renderDatatableAction(data, type, row) },
                { 'title': 'No ', 'className': 'collapsing', 'data': 'no' },
                { 'title': 'Customer name', 'data': 'customerName' },
                { 'title': 'Date', 'className': 'collapsing', 'data': 'date', 'render': (data, type, row) => $.fn.formatDate(data, type, row) },
                { 'title': 'Due date', 'className': 'collapsing', 'data': 'dueDate', 'render': (data, type, row) => $.fn.formatDate(data, type, row) },
                { 'title': 'Amount', 'className': 'collapsing', 'data': 'amount' },
                { 'title': 'Balance', 'className': 'collapsing', 'data': 'balanceAmount' },
                { 'title': 'Status', 'className': 'collapsing', 'data': 'status' },
                { 'title': 'Payment date', 'className': 'collapsing', 'data': 'paymentDate', 'render': (data, type, row) => $.fn.formatDate(data, type, row) },
                { 'title': 'Modified', 'className': 'collapsing', 'data': 'updatedDate', 'render': (data, type, row) => $.fn.formatDate(data, type, row) }
            ],
            'onRowClick': (e, data) => {
                $.get('@detailsUrl', { 'id': data.id }).done(result => {
                    $('#@(tableId)_detail').html(result);
                });
            },
            'onDblRowClick': (e, data) => {
                 $.get('@editUrl', { 'id': data.id }).done(result => {
                    $(result).dialog();
                });
            }
        });
    });

    ajaxSubmitComplete = function (e, jqXHR, status) {
        if (status === 'success') {
            window.DocumentController.reload(false);
            window.dialog.modal('hide');
        }
    };

    ajaxClick = function (e, jqXHR, status) {
        if (status === 'success') {
            var target = $(e.target).attr('data-target');
            $(target).remove();
        }
    };
    </script>
}
