@model Web.ViewModels.InvoiceFilterViewModel

@{
    ViewData["Title"] = "Invoices";

    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetInvoices");
    var deleteUrl = Url.RouteUrl("DeleteInvoices");
    var editUrl = Url.RouteUrl("EditInvoice");
}

@section RightSidebar {
    <div class="ui stacked secondary yellow segment">
        <form id="table-filter" class="ui form">
            <h3>Filters</h3>
            <div class="field">
                <div class="ui slider checkbox">
                    <input type="checkbox" name="Unpaid" data-value-type="boolean" value="true" />
                    <label asp-for="Unpaid"></label>
                </div>
            </div>
            <div class="field">
                <label asp-for="VendorId"></label>
                <select asp-for="VendorId" asp-items="@ViewBag.Vendors" class="ui dropdown search">
                    <option value="" selected>Select vendor</option>
                </select>
            </div>
            <div class="field">
                <label asp-for="Kind"></label>
                <select asp-for="Kind" asp-items="@Html.GetEnumSelectList<Core.Data.Enums.UccountTypes>()" class="ui dropdown">
                    <option value="" selected>Select account type</option>
                </select>
            </div>
            <div class="field">
                <label asp-for="CustomerId"></label>
                <select asp-for="CustomerId" asp-items="@ViewBag.Customers" data-clearable="true" class="ui dropdown search">
                    <option value="" selected>Select customers</option>
                </select>
            </div>
        </form>
    </div>
}

<div>
    <div id="toolbar" class="ui secondary menu">
        <a asp-route="AddInvoice" class="ui button" data-request="ajax" rel="dialog" data-title="Create invoice"><i class="fa fa-plus mr-1"></i> Create</a>
        <a asp-route="SyncInvoice" class="ui button" data-request="ajax" data-title="Sync invoice"><i class="fa fa-plus mr-1"></i> Sync</a>
        <div class="right menu">
            <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
        </div>
    </div>

    <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.DocumentController = new DocumentController({
                'table': '#@tableId',
                'controller': {
                    'list': '@listUrl',
                    'delete': '@deleteUrl'
                },
                'columns': [
                    { 'title': '', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => $.fn.renderDatatableAction(data, type, row) },
                    { 'title': 'No ', 'className': 'collapsing', 'data': 'no' },
                    { 'title': 'Customer name', 'data': 'customerName' },
                    { 'title': 'Date', 'className': 'collapsing', 'data': 'date', 'render': (data, type, row) => $.fn.formatDate(data, type, row) },
                    { 'title': 'Due date', 'className': 'collapsing', 'data': 'dueDate', 'render': (data, type, row) => $.fn.formatDate(data, type, row) },
                    { 'title': 'Amount', 'className': 'collapsing', 'data': 'amount' },
                    { 'title': 'Balance', 'className': 'collapsing', 'data': 'balanceAmount' },
                    { 'title': 'Status', 'className': 'collapsing', 'data': 'status' },
                    { 'title': 'Payment date', 'className': 'collapsing', 'data': 'paymentDate', 'render': (data, type, row) => $.fn.formatDate(data, type, row) },
                    { 'title': 'Modified', 'className': 'collapsing', 'data': 'updatedDate', 'render': (data, type, row) => $.fn.formatDate(data, type, row) }
                ],
                'onDblRowClick': (e, data) => {
                    $.get('@editUrl', { 'id': data.id }).done(result => {
                        $(result).dialog({ 'title': 'Edit invoice' });
                    });
                }
            });

            @*$('#@(tableId)_companies-persons-select').on('change', function () {
                let valueData = $(this).find(':selected').val().split('_');

                $('#@(tableId)_customer_id').val(valueData[1]);

                switch (valueData[0]) {
                    case "person":
                        $('#@(tableId)_is_person').val(true);
                        break;
                    case "company":
                        $('#@(tableId)_is_person').val(false);
                        break;
                }
                window.DocumentController.reload(false);
            });
            $('#@(tableId)_vendors-select').on('change', function () {
                window.DocumentController.reload(false);
            });
            $('#@(tableId)_unpaid-checkbox').on('change', function () {
                window.DocumentController.reload(false);
            });*@
        });

        ajaxSubmitComplete = function (e, jqXHR, status) {
            if (status === 'success') {
                window.DocumentController.reload(false);
                window.dialog.modal('hide');
            }
        };

        ajaxClick = function (e, jqXHR, status) {
            if (status === 'success') {
                var target = $(e.target).attr('data-target');
                $(target).remove();
            }
        };
    </script>
}
