@model List<Web.ViewModels.SectionViewModel>
@{
    var guid = Guid.NewGuid();
}
<form class="ui form" id="@guid">
    <fieldset>
        <h4 class="ui dividing header">Adding new section</h4>
        <div class="field">
            <label>Name</label>
            <select class="ui fluid dropdown" required>
                <option value="" disabled selected>Select Section</option>
                @foreach(var item in Model) {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </fieldset>
</form>