@{
    var url = Context.Request.Path.ToString();
    var crumbs = url.Equals("/") ? new string[] { "" } : url.Split('/');

    var userName = ViewData["UserName"];

    var tableId = Guid.NewGuid();
}

<div class="ui two stackable column grid m-0 border-b-1">
    <div class="row">
        <div class="twelve wide column px-1">
            <div class="ui flex align-center">
                <span id="sidebar-btn" style="cursor: pointer; margin-right: 5px;"><i class="inverted brown list icon"></i></span>
                <div class="ui header" style="margin-top: 0;">@ViewData["Title"]</div>
            </div>
            <div class="ui secondary  menu">
                <div class="header item">
                    <div class="ui breadcrumb">
                        @foreach(var crumb in crumbs) {
                            if(string.IsNullOrEmpty(crumb)) {
                                <a class="section" asp-controller="Home" asp-action="Index"><i class="home icon"></i> Home</a>
                            } else {
                                <div class="divider"> / </div>
                                <a class="section" asp-controller="@crumb" asp-action="Index">@crumb</a>
                            }
                        }
                    </div>
                </div>
                <div class="right item">
                    <div class="ui simple dropdown">
                        @userName <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header">Header Item</div>
                            <a class="item" href="#">Link Item</a>
                            <a class="item" href="#">Link Item</a>
                            <div class="divider"></div>
                            <a class="item" href="javascript:void(0);" onclick="$('#@tableId').submit();"><i class="sign-out icon"></i> Signout</a>
                            <form id="@tableId" asp-controller="Account" asp-action="Logout"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column"></div>
    </div>
</div>
