@using Microsoft.AspNetCore.Identity
@using Core.Data.Entities

@inject SignInManager<AspNetUserEntity> SignInManager
@inject UserManager<AspNetUserEntity> UserManager

@{
    var userName = UserManager.GetUserName(User);
    ViewData["UserName"] = userName;

    var isSignIn = SignInManager.IsSignedIn(User);
    ViewData["IsSignIn"] = isSignIn;

    //var roles = await UserManager.GetRolesAsync(User.R);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Margo Assistant</title>

    <partial name="_StylePartial" />
</head>


<body id="mainbody">

    <div id="sidenav" class="sidenav">
        <partial name="_SidebarPartial" />
    </div>

    <div id="main-content" class="main-content">
        <partial name="_HeaderPartial" model="userName" />

        <div class="ui two stackable column divided grid m-0">
            <div class="mobile-wide twelve wide column p-1">
                @RenderBody()
            </div>
            <div class="four wide column p-1 right-side mobile-hidden">
                @RenderSection("RightSidebar", required: false)
            </div>
        </div>
    </div>

    <partial name="_ScriptPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
