<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Margo Assistant</title>

    <partial name="_StylePartial" />
</head>
<body>
    <div class="wrapper">
        <partial name="_SidebarPartial" />
        <div class="main-panel">
            <partial name="_HeaderPartial" />

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <main role="main" class="col-md-12">

                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@RenderSection("Toolbar", required: false)*@

    @*<div class="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="All"></div>
        </div>*@

    <partial name="_ModalPartial" />
    <partial name="_AlertPartial" />
    @*<partial name="_FooterPartial" />*@
    <partial name="_ScriptPartial" />
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
