@model Web.ViewModels.CompanySectionViewModel

@{
    ViewData["Title"] = "Create Section";
    Layout = null;
}


<form id="submitModalForm" asp-action="AddSection">
    <input type="hidden" asp-for="CompanyId" />
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="alert alert-primary">
        Sections are containers which contain informations in fields. Sections provide a way to organize your form and apply a particular layout.<br />
        Note: It's easiest to <a asp-controller="Section" asp-action="Create">create</a> the page first, then the fields within the page.
    </div>
    <div class="form-group row mb-3">
        <div class="col">
            <label asp-for="SectionId"></label>
            <select asp-for="SectionId" asp-items="@ViewBag.Sections" class="form-control" >
                <option value="">Select customer type</option>
            </select>
            <span asp-validation-for="SectionId" class="text-danger"></span>
        </div>
    </div>
</form>