@model Web.ViewModels.CompanySectionViewModel

@{
    var guid = Guid.NewGuid();
    var sections = (List<Web.ViewModels.SectionViewModel>)ViewData["SectionList"];
}
<form class="ui form" id="@guid" asp-action="CreateCompanySection" rel="createCompanySectionComplete">
    <fieldset>
        <h4 class="ui dividing header">Adding new section</h4>
        <input type="hidden" asp-for="CompanyId" required />
        <div class="field">
            <label asp-for="SectionId"></label>
            <select asp-for="SectionId" class="ui fluid dropdown" required>
                <option value="" disabled selected>Select Section</option>
                @foreach(var item in sections) {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </fieldset>
</form>