@model Web.ViewModels.CompanyViewModel

@{
    var guid = Guid.NewGuid();
    var persons = (List<SelectListItem>)ViewData["Persons"];
}

<form id="@guid" class="ui form" asp-route="CreateCompany" method="post" data-request="ajax">
    <fieldset>
        <h4 class="ui dividing header">General</h4>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="fields">
            <div class="twelve wide field required">
                <label asp-for="Name"></label>
                <input asp-for="Name" required data-value-type="string" />
            </div>

            <div class="four wide field required">
                <label asp-for="CEOId"></label>
                <select id="companies-select" class="ui search dropdown" required selected="false" asp-for="CEOId" asp-items="@persons">
                    <option value="" selected disabled hidden></option>
                </select>
            </div>
        </div>

        <div class="three fields">
            <div class="field required">
                <label asp-for="EIN"></label>
                <input asp-for="EIN" data-value-type="string" required />
            </div>
            <div class="field required">
                <label asp-for="DB"></label>
                <input asp-for="DB" data-value-type="string" required />
                <span asp-validation-for="DB"></span>
            </div>
            <div class="field">
                <label asp-for="Founded"></label>
                <input asp-for="Founded" type="date" data-value-type="string" />
            </div>
        </div>
        <div class="field">
            <label asp-for="Description">Description <span class="text-muted">(Optional)</span></label>
            <textarea asp-for="Description" rows="3" data-value-type="string"></textarea>
        </div>
    </fieldset>
</form>