@model Web.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="ui card">
    <div class="content">
        <div class="header">@Model.Name</div>
        <div class="description">
            <dl>
                <dt><label asp-for="EIN"></label></dt>
                <dd>@Model.EIN</dd>

                <dt><label asp-for="DB"></label></dt>
                <dd>@Model.DB</dd>

                <dt><label asp-for="Founded"></label></dt>
                <dd>@Model.Founded</dd>

            </dl>
        </div>
    </div>
</div>