@model Web.ViewModels.CompanyViewModel

@{
    var guid = Guid.NewGuid();
    var persons = (List<SelectListItem>)ViewData["Persons"];
}

<form id="@guid" class="ui form" asp-route="UpdateCompany" asp-route-id="@Model.Id" method="post" data-request="ajax">
    <fieldset>
        <h4 class="ui dividing header">General</h4>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="three wide field required">
            <label asp-for="CEOId"></label>
            <select class="ui search dropdown" required asp-for="CEOId" asp-items="@persons">
            </select>
        </div>
        <div class="field required">
            <label asp-for="Name"></label>
            <input asp-for="Name" name="Name" required data-value-type="string" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="three fields">
            <div class="field">
                <label asp-for="EIN"></label>
                <input asp-for="EIN" name="EIN" data-value-type="string" />
            </div>
            <div class="field">
                <label asp-for="DB"></label>
                <input asp-for="DB" name="DB" data-value-type="string" />
                <span asp-validation-for="DB"></span>
            </div>
            <div class="field">
                <label asp-for="Founded"></label>
                <input asp-for="Founded" type="date" name="Founded" data-value-type="string" />
            </div>
        </div>
        <div class="field">
            <label asp-for="Description">Description <span class="text-muted">(Optional)</span></label>
            <textarea asp-for="Description" rows="3" data-value-type="string"></textarea>
        </div>
    </fieldset>
</form>