@{
    ViewData["Title"] = "Companies";
    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetCompanies");
    var deleteUrl = Url.RouteUrl("DeleteCompanies");
}

@section RightSidebar {
    <div class="ui sticky">
        <h4 class="ui header">Sidebar</h4>

        <div class="ui vertical following fluid accordion text menu">
            <div class="item active">
                <a class="title active">
                    <i class="dropdown icon"></i> <b>Examples</b>
                </a>
                <div class="content menu active">
                    <a class="item" href="#transitions">Transitions</a>
                    <a class="item active" href="#displaying-multiple">Displaying Multiple</a>
                    <a class="item" href="#using-a-custom-context">Using a custom context</a>
                    <a class="item" href="#triggering-showhide-with-other-content">Triggering show/hide with other content</a>
                    <a class="item" href="#triggering-custom-behavior-with-other-content">Triggering custom behavior with other content</a>
                    <a class="item" href="#starting-visible">Starting Visible</a>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <div id="toolbar" class="ui secondary menu">
        <a asp-controller="Company" asp-action="Create" class="ui button" data-action="create"><i class="fa fa-plus mr-1"></i> Create</a>
        <div class="right menu">
            <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
        </div>
    </div>

    <table id="@(tableId)" class="ui selectable celled unstackable orange table">
        <thead>
            <tr>
                <th class="collapsing"></th>
                <th>Company no</th>
                <th>Company</th>
                <th>Phone</th>
                <th>Address.</th>
                <th class="right aligned collapsing">Modified</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Company no</th>
                <th>Company</th>
                <th>Phone</th>
                <th>Address.</th>
                <th>Modified</th>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        window.selected = [];

        var $filter = $('#filter');
        var $table = $('#@tableId');

          var $datatable = $table.DataTable({
            'ajax': {
                'url': '@(listUrl)',
                'data': (d) => {
                    var data = $.extend({}, d, $filter.serializeJSON());
                    return data;
                },
                'async': true
            },
            'columns': [
                { 'data': 'id', 'render': (data, type, row) => $.fn.renderDatatableAction(data, type, row, this) },
                { 'data': 'no', 'orderable': true },
                { 'data': 'name' },
                { 'data': 'phoneNumber' },
                { 'data': 'address' },
                { 'data': 'updatedDate', 'render': (data, type, row) => $.fn.formatDate(data, type, row, this) }
            ],
            'rowCallback': function (row, data) {
                if ($.inArray(data.id, window.selected) !== -1) {
                    $(row).addClass('active');
                }
            },
        });

        $table.on('change', 'input', function () {
            var inputs = $table.find('input:checked')
            if (inputs.length > 0) {
                $('button[data-action=delete]').enabled();
            } else {
                $('button[data-action=delete]').disabled();
            }
        });
    });
    </script>
}