@{
    ViewData["Title"] = "Companies";
    var tableId = Guid.NewGuid();
    var getCompaniesUrl = Url.RouteUrl("GetCompanies");
}

<div class="ui container">
    <div class="ui breadcrumb">
        <a class="section">Home</a>
        <div class="divider"> / </div>
        <a class="section">Store</a>
        <div class="divider"> / </div>
        <div class="active section">T-Shirt</div>
    </div>

    <div class="ui raised segment">
        <table id="@(tableId)" class="ui selectable celled unstackable table">
            <thead>
                <tr>
                    <th>Company no</th>
                    <th>Company</th>
                    <th>Phone</th>
                    <th>Address.</th>
                    <th>Modified</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var $filter = $('#filter');
        var $table = $('#@tableId').DataTable({
            
            'ajax': {
                'url': '@(getCompaniesUrl)',
                'type': 'GET',
                'data': (d) => {
                    var data = $.extend({}, d, $filter.serializeJSON());
                    return data;
                },
                'async': true,
                'complete': function (data, status, jqXHR) {
                    if (status === 'success') {
                        // localStorage.setItem('FILTERDATA', this.data);
                    } else {
                        //localStorage.clear('FILTERDATA');
                    }
                }
            },
            'columns': [
                { 'data': 'no', 'orderable': true},
                { 'data':  'name'},
                { 'data':  'phoneNumber'},
                { 'data':  'address'},
                { 'data': 'updatedDate' },
                { 'data': 'title', 'render': (data, type, row) => $.fn.renderDatatableAction(data, type, row, this) }]
        });
    </script>
}