@{
    ViewData["Title"] = "Companies";

    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetCompanies");
    var deleteUrl = Url.RouteUrl("DeleteCompanies");
    var editUrl = Url.Action("Edit");
    var displayUrl = Url.Action("Details");
}

@section RightSidebar {
    <div class="ui sticky">
        <div id="displayContainer"></div>

        <h4 class="ui header">Sidebar</h4>

        <div class="ui vertical following fluid accordion text menu">
            <div class="item active">
                <a class="title active">
                    <i class="dropdown icon"></i> <b>Examples</b>
                </a>
                <div class="content menu active">
                    <a class="item" href="#transitions">Transitions</a>
                    <a class="item active" href="#displaying-multiple">Displaying Multiple</a>
                    <a class="item" href="#using-a-custom-context">Using a custom context</a>
                    <a class="item" href="#triggering-showhide-with-other-content">Triggering show/hide with other content</a>
                    <a class="item" href="#triggering-custom-behavior-with-other-content">Triggering custom behavior with other content</a>
                    <a class="item" href="#starting-visible">Starting Visible</a>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <div id="toolbar" class="ui secondary menu">
        <a asp-controller="Company" asp-action="Create" class="ui button" data-action="create"><i class="fa fa-plus mr-1"></i> Create</a>
        <div class="right menu">
            <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
        </div>
    </div>

    <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        window.DocumentController = new DocumentController({
            'table': '#@tableId',
            'controller': {
                'list': '@listUrl',
                'delete': '@deleteUrl'
            },
            'columns': [
                { 'title': '', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => $.fn.renderDatatableAction(data, type, row) },
                { 'title': 'No ', 'data': 'no', 'className': 'collapsing', 'orderable': true },
                { 'title': 'Name', 'data': 'name' },

                { 'title': 'Address', 'data': 'address' },
                { 'title': 'Modified', 'className': 'collapsing', 'data': 'updatedDate', 'render': (data, type, row) => $.fn.formatDate(data, type, row) }
            ],
            'onRowClick': (e, data) => {
                var options = {
                    'url': '@displayUrl' + `/${data.id}`,
                    'complete': (jqXHR, status) => {
                        if (status === 'success') {
                            $('#displayContainer').empty().html(jqXHR.responseText);
                        }
                    }
                }
                $.ajax(options);
            },
            'onDblRowClick': (e, data) => {
                location.href = '@editUrl' + `/${data.id}`;
            }
        });
    });
    </script>
}