@{
    ViewData["Title"] = "Companies";
}

<div class="card">
    <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
            <i class="material-icons">storage</i>
        </div>
        <h4 class="card-title">Company List</h4>
        <span class="text-muted">Organize and keep track of your companies by adding, deleting, merging, or restoring them in the system.</span>
    </div>

    <div class="card-body">
        <div id="tableToolbar">
            <a asp-controller="Company" asp-action="Create" class="btn btn-primary"><i class="material-icons">add</i> Create</a>
        </div>

        <table id="datatable" data-toggle="table" data-url="/api/company">
            <thead>
                <tr>
                    <th data-field="isStarred" data-formatter="isStarredFormatter"></th>
                    <th data-field="no" data-sortable="true">Company no</th>
                    <th data-field="name" data-sortable="true">Company</th>
                    <th data-field="phoneNumber" data-sortable="true">Phone</th>
                    <th data-field="address">Address</th>
                    <th data-field="updatedDate" data-sortable="true" data-formatter="$.fn.bootstrapTable.formatDate">Modified</th>
                    <th data-formatter="actionFormatter" class="text-right"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function isStarredFormatter(value, row) {
            return value == null || value == false ? `<i class='fa fa-star mr-1'></i>` : `<i class='fa fa-star text-warning mr-1'></i>`;
        }

        function actionFormatter(value, row) {
            return `<a href='/company/edit/${row.id}'><i class="material-icons">chevron_right</i></a>`;
        }

        $(document).ready(function () {
            $('#datatable').on('dbl-click-row.bs.table', function (e, row, $element) {
                location.href = `/company/edit/${row.id}`;
            });
        });
    </script>
}