@model Web.ViewModels.SectionViewModel

@{
    ViewData["Title"] = "Edit Section";
    ViewData["SubTitle"] = "";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Sections</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <form id="submitForm" asp-action="Edit">
            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-row mb-3">
                <div class="col-4">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-8">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <form method="POST" asp-action="Delete">
            <input asp-for="Id" type="hidden" />
            <button type="submit" class="btn btn-danger" onclick="if (!confirm('Are you sure want to delete this?')) { return false; }"><i class="material-icons">delete_outline</i> Remove</button>
        </form>

        <div>
            <button type="submit" class="btn btn-primary mr-1" form="submitForm">Save</button>
            <a asp-action="index" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>
