@{
    ViewData["Title"] = "Sections";

    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetSections");
    var deleteUrl = Url.RouteUrl("DeleteSections");
    var editUrl = Url.Action("Edit");
    var displayUrl = Url.Action("Details");
}

@section RightSidebar {

}

<div>
    <div id="toolbar" class="ui secondary menu">
        <a asp-controller="Section" asp-action="Create" class="ui button"><i class="fa fa-plus mr-1"></i> Create</a>
        <div class="right menu">
            <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
        </div>
    </div>

    <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
</div>


@section Scripts {
    <script type="text/javascript">
$(document).ready(function () {
    window.DocumentController = new DocumentController({
        'table': '#@tableId',
        'controller': {
            'list': '@listUrl',
            'delete': '@deleteUrl'
        },
        'columns': [
            { 'title': '', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => $.fn.renderDatatableAction(data, type, row) },
            { 'title': 'Default', 'data': 'isDefault' },
            { 'title': 'Name', 'data': 'name' },
            { 'title': 'Description ', 'data': 'description'},
        ],
        'onRowClick': (e, data) => {
            @*var options = {
                'url': '@displayUrl' + `/${data.id}`,
                'complete': (jqXHR, status) => {
                    if (status === 'success') {
                        $('#displayContainer').empty().html(jqXHR.responseText);
                    }
                }
            }
            $.ajax(options);*@
        },
        'onDblRowClick': (e, data) => {
            location.href = '@editUrl' + `/${data.id}`;
        }
    });
});
    </script>
}