@{
    ViewData["Title"] = "Sections";
    ViewData["Subtitle"] = "Organize and keep track of your companies by adding, deleting, merging, or restoring them in the system.";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div id="toolbar" role="toolbar">
                <a asp-controller="Section" asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus mr-1"></i> Create</a>
            </div>
            <table id="datatable" data-toggle="table" data-url="/api/section"
                   data-total-field="totalItems"
                   data-data-field="items">
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Name</th>
                        <th data-field="description" data-sortable="true">Description</th>
                        <th data-field="isDefault" data-sortable="true">Is Default</th>
                        <th data-formatter="actionFormatter" class="text-nowrap text-right table-active">Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function actionFormatter(value, row) {
            return `<a href='/section/edit/${row.id}' class='btn btn-outline-secondary mr-1' >Edit</a>`;
        }
    </script>
}