@{
    ViewData["Title"] = "Persons";

    var tableId = Guid.NewGuid();

    var listUrl = Url.RouteUrl("GetPersons");
    var deleteUrl = Url.RouteUrl("DeletePersons");
    var detailsUrl = Url.RouteUrl("DetailsPerson");
    var editUrl = Url.RouteUrl("EditPerson");
}

@section RightSidebar {
    <div id="@(tableId)_details"></div>
}

<div class="ui shape full-width">
    <div class="sides">
        <div class="active side main">
            <div id="toolbar" class="flex justify-content-between">
                <a class="ui button" asp-route="AddPerson" data-request="ajax" rel="dialog" data-title="Create person"><i class="fa fa-plus mr-1"></i> Create</a>
                <button class="red ui button" data-action="delete" disabled><i class="trash icon"></i> Delete</button>
            </div>

            <table id="@(tableId)" class="ui selectable celled unstackable orange table" data-toolbar="#toolbar"></table>
        </div>
        <div class="side details">
            <div class="ui grid">
                <div class="row">
                    <div class="column">
                        <button class="ui button" data-target=".side.main"><i class="retweet icon"></i> Back</button>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div id="@(tableId)_details"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        window.DocumentController = new DocumentController({
            'table': '#@tableId',
            'controller': {
                'list': '@listUrl',
                'delete': '@deleteUrl'
            },
            'columns': [
                { 'title': '', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => $.fn.renderDatatableAction(data, type, row) },
                { 'title': 'First name', 'className': 'collapsing', 'data': 'name' },
                { 'title': 'Middle name', 'className': 'collapsing', 'data': 'middleName' },
                { 'title': 'Last name', 'className': 'collapsing', 'data': 'surName' },
                { 'title': 'Description', 'data': 'description' },
                { 'title': 'Modified', 'className': 'collapsing', 'data': 'updatedDate', 'render': (data, type, row) => $.fn.formatDate(data, type, row) },
                {
                  'title': 'Action', 'data': 'id', 'className': 'collapsing', 'render': (data, type, row) => {
                    return `<a class='ui icon' data-request='ajax' href='@(editUrl)?id=${data}' rel='dialog' data-title='Edit'>
                              <i class="pencil icon"></i>
                            </a>`;
                    }
                }
            ],
            'onRowClick': (e, data) => {
                if (e.target.tagName === 'TD') {
                    e.preventDefault();
                    $.get('@detailsUrl', { 'id': data.id }).done(result => {
                        $('#@(tableId)_details').html(result).find('a[data-request=ajax]').ajaxClick();
                    });
                }
            }
        });
    });

    ajaxSubmitComplete = function (e, jqXHR, status) {
        if (status === 'success') {
            window.DocumentController.reload(false);
            window.dialog.modal('hide');
        }
    };
    </script>
}