<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\Logs\internal.txt">
  <variable name="logDirectory" value=".\Logs\"/>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="errors" fileName="${logDirectory}Errors\${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} ${replace:inner=${exception}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}"/>

    <target xsi:type="File" name="user-activity" fileName="${logDirectory}Activities\${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} ${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="errors" />
  
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="user-activity" />
  </rules>
</nlog>
